In [10]:
import pandas as pd
import sqlite3

In [11]:
census_df = pd.read_csv("cleaned_2016/census_2016.csv")

In [12]:
census_df

,State,County,Women,White,Citizen,IncomePerCap,Poverty,ChildPoverty,Professional,Service,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,Minority
0,Alabama,Autauga,51.567339,75.788227,73.749117,24974.499701,12.912305,18.707580,32.790974,17.170444,...,1.305969,1.835653,26.500165,43.436374,73.736490,20.823283,5.433254,0.000000,7.733726,0.542547
1,Alabama,Baldwin,51.151337,83.102616,75.694057,27316.835159,13.424230,19.484305,32.729943,17.950921,...,1.443800,3.850477,26.322179,44.051127,81.282655,12.448522,5.909353,0.363327,7.589820,0.237494
2,Alabama,Barbour,46.171840,46.231594,76.912223,16824.216434,26.505629,43.559621,26.124042,16.463434,...,1.621725,1.501946,24.518283,31.921135,71.594256,21.204593,7.149837,0.089774,17.525557,1.729912
3,Alabama,Bibb,46.589099,74.499889,77.397806,18430.990311,16.603747,27.197085,21.590099,17.955450,...,1.562095,0.731468,28.714391,36.692621,76.743846,16.236781,6.637936,0.394151,8.163104,0.368076
4,Alabama,Blount,50.594351,87.853854,73.375498,20532.274666,16.721518,26.857377,28.529302,13.942519,...,0.419941,2.265413,34.844893,38.449142,81.826708,13.587893,4.228716,0.356493,7.699640,0.166002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3213,Wyoming,Sweetwater,47.826767,79.852546,69.161530,30568.378451,11.567569,17.144409,25.766361,15.159086,...,0.961384,1.654936,21.023229,51.393728,78.356118,17.861219,3.711447,0.044832,5.413884,0.474850
3214,Wyoming,Teton,48.290081,81.193864,73.376361,44230.963650,7.387383,6.658765,39.053610,25.953292,...,4.961243,5.525884,14.443364,64.084981,81.242069,11.158133,7.610537,0.000000,2.653893,0.318229
3215,Wyoming,Uinta,49.182991,87.800769,68.595318,25771.617439,13.744491,18.581223,30.084133,18.397138,...,1.609465,3.081400,20.387100,48.084090,75.468438,18.911013,5.586718,0.033832,4.403827,0.134735
3216,Wyoming,Washakie,50.666667,82.379667,72.500000,27394.174524,13.854905,18.429381,29.282167,18.264952,...,2.827619,4.422571,12.357571,46.333333,70.467476,21.473905,7.593476,0.465143,6.769571,0.541667
3217,Wyoming,Weston,48.336130,92.199413,78.048098,30245.368568,13.942981,25.667226,32.074357,12.633725,...,1.155034,5.597427,28.712640,46.742170,70.177517,20.241219,8.363115,1.270022,5.233725,0.130034

In [18]:
conn = sqlite3.connect("election_db.sqlite")

In [19]:
census_df.to_sql("2016_census", conn, if_exists= "replace", index=False)

3218

In [20]:
pd.read_sql("select * from '2016_census'", conn)

,State,County,Women,White,Citizen,IncomePerCap,Poverty,ChildPoverty,Professional,Service,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,Minority
0,Alabama,Autauga,51.567339,75.788227,73.749117,24974.499701,12.912305,18.707580,32.790974,17.170444,...,1.305969,1.835653,26.500165,43.436374,73.736490,20.823283,5.433254,0.000000,7.733726,0.542547
1,Alabama,Baldwin,51.151337,83.102616,75.694057,27316.835159,13.424230,19.484305,32.729943,17.950921,...,1.443800,3.850477,26.322179,44.051127,81.282655,12.448522,5.909353,0.363327,7.589820,0.237494
2,Alabama,Barbour,46.171840,46.231594,76.912223,16824.216434,26.505629,43.559621,26.124042,16.463434,...,1.621725,1.501946,24.518283,31.921135,71.594256,21.204593,7.149837,0.089774,17.525557,1.729912
3,Alabama,Bibb,46.589099,74.499889,77.397806,18430.990311,16.603747,27.197085,21.590099,17.955450,...,1.562095,0.731468,28.714391,36.692621,76.743846,16.236781,6.637936,0.394151,8.163104,0.368076
4,Alabama,Blount,50.594351,87.853854,73.375498,20532.274666,16.721518,26.857377,28.529302,13.942519,...,0.419941,2.265413,34.844893,38.449142,81.826708,13.587893,4.228716,0.356493,7.699640,0.166002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3213,Wyoming,Sweetwater,47.826767,79.852546,69.161530,30568.378451,11.567569,17.144409,25.766361,15.159086,...,0.961384,1.654936,21.023229,51.393728,78.356118,17.861219,3.711447,0.044832,5.413884,0.474850
3214,Wyoming,Teton,48.290081,81.193864,73.376361,44230.963650,7.387383,6.658765,39.053610,25.953292,...,4.961243,5.525884,14.443364,64.084981,81.242069,11.158133,7.610537,0.000000,2.653893,0.318229
3215,Wyoming,Uinta,49.182991,87.800769,68.595318,25771.617439,13.744491,18.581223,30.084133,18.397138,...,1.609465,3.081400,20.387100,48.084090,75.468438,18.911013,5.586718,0.033832,4.403827,0.134735
3216,Wyoming,Washakie,50.666667,82.379667,72.500000,27394.174524,13.854905,18.429381,29.282167,18.264952,...,2.827619,4.422571,12.357571,46.333333,70.467476,21.473905,7.593476,0.465143,6.769571,0.541667
3217,Wyoming,Weston,48.336130,92.199413,78.048098,30245.368568,13.942981,25.667226,32.074357,12.633725,...,1.155034,5.597427,28.712640,46.742170,70.177517,20.241219,8.363115,1.270022,5.233725,0.130034

In [21]:
election = pd.read_csv("cleaned_2016/election_2016.csv")
election

          ID            county   fips        candidate state  votes
0          1  Abbeville County  45001     Donald Trump    SC   6763
1          2  Abbeville County  45001  Hillary Clinton    SC   3741
2          3  Abbeville County  45001     Gary Johnson    SC    129
3          4  Abbeville County  45001    Evan McMullin    SC     56
4          5  Abbeville County  45001   Darrell Castle    SC     38
...      ...               ...    ...              ...   ...    ...
18002  18003     Zavala County  48507       Jill Stein    TX     16
18003  18004    Ziebach County  46137     Donald Trump    SD    368
18004  18005    Ziebach County  46137  Hillary Clinton    SD    353
18005  18006    Ziebach County  46137     Gary Johnson    SD     28
18006  18007    Ziebach County  46137   Darrell Castle    SD     18

[18007 rows x 6 columns]

In [22]:
election.to_sql("2016_election", conn, if_exists= "replace", index=False)

18007

In [23]:
pd.read_sql("select * from '2016_election'", conn)

          ID            county   fips        candidate state  votes
0          1  Abbeville County  45001     Donald Trump    SC   6763
1          2  Abbeville County  45001  Hillary Clinton    SC   3741
2          3  Abbeville County  45001     Gary Johnson    SC    129
3          4  Abbeville County  45001    Evan McMullin    SC     56
4          5  Abbeville County  45001   Darrell Castle    SC     38
...      ...               ...    ...              ...   ...    ...
18002  18003     Zavala County  48507       Jill Stein    TX     16
18003  18004    Ziebach County  46137     Donald Trump    SD    368
18004  18005    Ziebach County  46137  Hillary Clinton    SD    353
18005  18006    Ziebach County  46137     Gary Johnson    SD     28
18006  18007    Ziebach County  46137   Darrell Castle    SD     18

[18007 rows x 6 columns]

In [24]:
federal = pd.read_csv("cleaned_2016/federal_2016.csv")
federal

    ID                  candidate     votes
0    1               Donald Trump  62984825
1    2            Hillary Clinton  65853516
2    3               Gary Johnson   4489221
3    4                 Jill Stein   1429596
4    5              Evan McMullin    510002
5    6             Darrell Castle    186545
6    7             Gloria La Riva     74117
7    8         Rocky De La Fuente     33010
8    9   None of these candidates     28863
9   10             Richard Duncan     24235
10  11                  Dan Vacek     13537
11  12             Alyson Kennedy     12465
12  13                 Mike Smith      9095
13  14             Chris Keniston      6909
14  15                  Lynn Kahn      5637
15  16                 Jim Hedges      5609
16  17           Monica Moorehead      4063
17  18               Peter Skewes      3246
18  19             Rocky Giordani      2752
19  20            Emidio Soltysik      2480
20  21             Scott Copeland      2356
21  22               Tom Hoefling      2291
22  23         Laurence Kotlikoff      1440
23  24               Kyle Kopitke      1096
24  25           Joseph Maldonado       872
25  26            Michael Maturen       862
26  27                  Rod Silva       751
27  28             Princess Jacob       749
28  29                 Ryan Scott       749
29  30            Bradford Lyttle       382
30  31                Jerry White       370
31  32               Frank Atwood       337

In [25]:
federal.to_sql("2016_federal", conn, if_exists= "replace", index=False)

32

In [26]:
state = pd.read_csv("cleaned_2016/state_2016.csv")
state.to_sql("2016_state", conn, if_exists= "replace", index=False)
pd.read_sql("select * from '2016_state'", conn)

      ID           candidate state   votes
0      1        Donald Trump    AK  163387
1      2     Hillary Clinton    AK  116454
2      3        Gary Johnson    AK   18725
3      4          Jill Stein    AK    5735
4      5      Darrell Castle    AK    3866
..   ...                 ...   ...     ...
301  302     Hillary Clinton    WY   55973
302  303        Gary Johnson    WY   13287
303  304          Jill Stein    WY    2515
304  305      Darrell Castle    WY    2042
305  306  Rocky De La Fuente    WY     709

[306 rows x 4 columns]